<div class='form--profile__field-wrapper'>
    {{{emailField}}}
    {{{loginField}}}
    {{{nameField}}}
    {{{surnameField}}}
    {{{phoneField}}}
</div>

<div class='form__btns-wrapper'>
    {{{changeProfileBtn}}}
    {{{changePassBtn}}}
    {{{logOutBtn}}}
</div>
