
  <label class='label {{#if isShiftedToSides}}label--shifted{{else}}label--hidden{{/if}}{{#if upload}} upload-label{{/if}}' for='{{name}}-id'>{{text}}</label>

  {{#if upload}}
    <input class='input upload-input' id='{{name}}-id' type='file'
      name='{{name}}' placeholder='{{text}}' accept='.jpeg, .jpg, .png, .gif, .webp'/>
  {{else}}
    <input class='input{{#if centeredInput}} centered-input{{/if}}{{#if isShiftedToSides}} input--shifted{{/if}}' id='{{name}}-id' type='{{#if type}}{{type}}{{else}}text{{/if}}'
    name='{{name}}' placeholder='{{text}}' value='{{value}}' {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}}/>
  {{/if}}

  <p class='error hidden'></p>
