<img class='chat-preview__img' src='{{avatar}}' alt='Chat avatar' />

<div class='chat-preview__message-wrapper'>
  <h3 class='chat-preview__header'>{{title}}</h3>
  <p class='chat-preview__message'>{{lastMessage}}</p>
</div>

<div class='chat-preview__info-wrapper'>

  {{#if time}}
    <p class='chat-preview__date'>{{time}}</p>
  {{/if}}

  {{#if unreadCount}}
    <div class='chat-preview__unread-icon'>
      <p class='chat-preview__unread-number'>{{unreadCount}}</p>
    </div>
  {{/if}}
</div>
