<img class='chat-preview__img' src='{{avatarImg}}' alt='Chat avatar' />

<div class='chat-preview__message-wrapper'>
  <h3 class='chat-preview__header'>{{chatHeader}}</h3>
  <p class='chat-preview__message'>{{chatText}}</p>
</div>

<div class='chat-preview__info-wrapper'>
  <p class='chat-preview__date'>{{chatTime}}</p>

  {{#if isUnread}}
    <div class='chat-preview__unread-icon'>
      <p class='chat-preview__unread-number'>{{unreadNum}}</p>
    </div>
  {{/if}}
</div>
