{{{returnBtn}}}

<div class='main--profile__header-wrapper'>
  {{{userPic}}}
  <h1 class='header'>{{userName}}</h1>
</div>

{{{profile}}}

{{{profileForm}}}
{{{passwordForm}}}

{{!-- {{>Modal header='Upload a file' upload=true btn-text='Upload'}} --}}
