<div class='form-settings__field-wrapper'>
  {{{emailInput}}}
  {{{loginInput}}}
  {{{nameInput}}}
  {{{surnameInput}}}
  {{{displayNameInput}}}
  {{{phoneInput}}}
</div>

<div class='form__btns-wrapper'>
  {{{submitBtn}}}
</div>
