<div class='form--profile__field-wrapper'>
    {{{emailInput}}}
    {{{loginInput}}}
    {{{nameInput}}}
    {{{surnameInput}}}
    {{{displayNameInput}}}
    {{{phoneInput}}}
</div>

<div class='form__btns-wrapper'>
    {{{submitBtn}}}
</div>
