<form class='form form--signUp'>
    <h1 class='header'>Sign up</h1>

    <div class='form__input-wrapper'>
        {{{emailInput}}}
        {{{loginInput}}}
        {{{nameInput}}}
        {{{surnameInput}}}
        {{{phoneInput}}}
        {{{passInput}}}
        {{{confirmPassInput}}}
    </div>

    <div class='form__btns-wrapper'>
        {{{submitBtn}}}
        {{{signInBtn}}}
    </div>
</form>
