<form class='form {{class}}'>
    <h1 class='header'>Sign in</h1>

    <div class='form__input-wrapper'>
        {{{nameInput}}}
        {{{passInput}}}
    </div>

    <div class='form__btns-wrapper'>
        {{{submitBtn}}}
        {{{signUpBtn}}}
    </div>
</form>
