<form class='form {{class}}'>
    <h1 class='header'>Sign in</h1>

    <div class='form__input-wrapper'>
        {{{NameInput}}}
        {{{PassInput}}}
    </div>

    <div class='form__btns-wrapper'>
        {{{SubmitBtn}}}
        {{{SignUpBtn}}}
    </div>
</form>
